:root {
  --ifm-color-primary: #bdbdbd;
  --ifm-color-primary-dark: #aaaaaa;
  --ifm-color-primary-darker: #a1a1a1;
  --ifm-color-primary-darkest: #848484;
  --ifm-color-primary-light: #d0d0d0;
  --ifm-color-primary-lighter: #d9d9d9;
  --ifm-color-primary-lightest: #f6f6f6;
}

[data-theme="dark"] {
  --ifm-color-primary: #bdbdbd;
  --ifm-color-primary-dark: #aaaaaa;
  --ifm-color-primary-darker: #a1a1a1;
  --ifm-color-primary-darkest: #848484;
  --ifm-color-primary-light: #d0d0d0;
  --ifm-color-primary-lighter: #d9d9d9;
  --ifm-color-primary-lightest: #f6f6f6;
}
